
data/raw/lightcast_2024.csv
lightcast_job_postings.csv
data/raw/lightcast_job_postings.csv
usa_00001.csv.gz
/.quarto/
**/*.quarto_ipynb
_site/
*.deb

venv/

data/processed/person.csv
data/processed/employment.csv
data/processed/employed_only.csv

data/clean/employed_only.csv
data/raw/lightcast_2024_new.csv
data/processed/lightcast_clean.csv
assets/figures/
